* {
    font-size: 1.2rem;
}

body {
    padding: 10px;
    margin: 0;
    gap: 10px;
}

::backdrop {
    background-color: rgb(14, 14, 30);
    opacity: 0.70;
}

.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

form {
    display: flex;
}

.form-container > div {
    margin-bottom: 25px;
}


.card {
    background-color: rgb(206, 206, 16);
    padding: 10px;
    font-size: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card * {
    text-align: center;
}

